<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<div class="content-wrapper">
  <button class="w-1/2 mx-auto mb-3" (click)="newTask()" color="primary" mat-raised-button>
    <mat-icon>add</mat-icon> Adicionar Tarefa
  </button>

  <div class="content-board">
    <div class="container">
      
      <div class="flex flex-row">
        <mat-icon class="mt-1 me-3 text-orange-500">dns</mat-icon>
        <h2>Backlog</h2>
      </div>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-task
          (edit)="editTask('todo', $event)"
          *ngFor="let task of todo | async"
          cdkDrag
          [task]="task"
          [class]="(todo | async)?.length != 0 ? 'mb-2':''">
        </app-task>
      </mat-card>
    </div>

    <div class="container">
      <div class="flex flex-row">
        <mat-icon class="mt-1 me-3 text-orange-500">settings</mat-icon>
        <h2>Fazendo</h2>
      </div>

      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-task
          (edit)="editTask('inProgress', $event)"
          *ngFor="let task of inProgress | async"
          cdkDrag
          [task]="task"
          [class]="(inProgress | async)?.length != 0 ? 'mb-2':''"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <div class="flex flex-row">
        <mat-icon class="mt-1 me-3 text-orange-500">mood_outline</mat-icon>
        <h2>Finalizado</h2>
      </div>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-task
          (edit)="editTask('done', $event)"
          *ngFor="let task of done | async"
          cdkDrag
          [task]="task"
          [class]="(done | async)?.length != 0 ? 'mb-2':''"></app-task>
      </mat-card>
    </div>
  </div>
</div>